ul{
  padding-inline-start: 0;
}

label{
  font-weight: bold;
  padding-bottom: 8px;
}

textarea{
  resize: none;
}

.inactive{
  display: none;
}

/* Styles App Section */
.App {
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: var(--Main-font);
}

.container__todo{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  display: grid;
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

.listLoading{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 331.98px;
  height: 130.8px;
  border-radius: 12px;
  border: 2px solid rgb(0, 0, 0, 0.2);
}

.list, .listCompleted{
  grid-template-columns: 45px 1fr 45px;
  display: grid;
  width: auto;
  padding: 12px;
  row-gap: 10px;
  list-style: none;
  border-radius: 12px;
  border: 2px solid #000;
  transition: all .3s ease-in;
  background-color: #c0bdbd;
}

.listCompleted{
  flex-direction: column;
  display: flex;
  border: 2px solid rgb(0, 0, 0, 0.2);
  background-color: rgb(67, 217, 22, 0.2);
}

.listCompleted li{
  text-align: center;
  width: 100%;
}

.list li{
  margin: auto 0;
}

.list__description{
  grid-column: 1 / 4;
}

.icon{
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: none;
  stroke-width: 2px;
  border-radius: 50%;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  border: 2px solid #000;
  transition: all .3s ease-in;
}

.icon-check:hover{
  cursor: pointer;
  background-color: rgb(67, 217, 22);
  border: 2px solid rgb(22, 94, 0);
}

.icon-closed:hover{
  cursor: pointer;
  background-color: #d70000;
  border: 2px solid rgb(137, 3, 3);
}

/* Styles Modal Section */
#modal{
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 220px);
}

.section__modal{
  padding: 50px;
  background-color: #FFF;
}

.icon-modal{
  position: absolute;
  display: flex;
  height: 40px;
  width: 40px;
  right: -20px;
  top: -20px;
  cursor: pointer;
}

.icon-modal img{
  align-self: stretch;
}

.form{
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  width: 100%;
  gap: 18px;
}

.form-group{
  flex-direction: column;
  text-align: left;
  display: flex;
  width: 100%;
}

.time-todo, .name-todo, .description-todo{
  padding: 0 12px;
  text-align: left;
  color: #ffffff64;  
}

.time-todo:focus{
  outline-color: #fff; 
  color: #fff;
}

.buttonSend{
  justify-content: center;
  display: flex;
}