:root{
  --Main-font: 'Helvetica', Arial;
}

body {
  position: absolute;
  margin: 0;
  font-family: var(--Main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
